body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
h1 {
    color: rgba(19, 132, 130, 0.946);
  text-align: center;
  margin: revert;
}
.margin {
  margin: 2%;
}

.item-menu{
    color: rgba(47, 125, 150, 0.946) !important;
}

.centrar-audio{
    margin-left: 9%;
}

.transparent-bar{
    opacity: 0.6;
}
